<app-header></app-header>

<div class="wrapper">
	<h1>Project List</h1>
	<cite class="source_txt">Source: <img class="icon_image" src='assets/images/github.png' /><a href="https://github.com/venkat91developer" target="_blank">Git Hub</a></cite>
	<ol reversed start="20">
		<li (click)="gotoMusicPlayer()" class="project_hover">
			<img src="assets/images/music_player.png" alt="Music Player" />
			<span>Music Player</span>
			<span>Linked List</span>
		</li>
			<!-- <li>
				<span>Dave</span>
				<span>We’re All Alone in This Together</span>
			</li>
			<li>
				<span>Turnstile</span>
				<span>Glow On</span>
			</li>
			<li>
				<span>Tirzah</span>
				<span>Colourgrade</span>
			</li>
			<li>
				<img src="https://assets.codepen.io/85648/deafheaven.webp"  alt="deafheaven album cover"/>
				<span>Deafheaven</span>
				<span>Infinite Granite</span>
			</li>
			<li>
				<span>Nick Cave and Warren Ellis</span>
				<span>Carnage</span>
			</li>
			<li>
				<img src="https://assets.codepen.io/85648/lil-nas-x-2.jpg" alt="Lil Nas X album cover"/>
				<span>Lil Nas X</span>
				<span>Montero</span>
			</li>
			<li>
				<img src="https://assets.codepen.io/85648/japanese-breakfast.webp" alt="Japanese Breakfast album cover" />
				<span>Japanese Breakfast</span>
				<span>Jubilee</span>
			</li>
			<li>
				<span>Jazmine Sullivan</span>
				<span>Heaux Tales</span>
			</li>
			<li>
				<img src="https://assets.codepen.io/85648/sam-fender.webp"  alt="Sam Fender album cover"/>
				<span>Sam Fender</span>
				<span>Seventeen Going Under</span>
			</li> -->
	</ol>
</div>